
<div class="bottomSheet" layout="row" layout-align="center end">
        <md-button ng-click="logout()" class="md-primary">
            <md-tooltip md-direction="right">Contact</md-tooltip>
            <i class="mdi mdi-contact-mail md-24"></i>
        </md-button>

        <md-button ng-click="logout()" class="md-primary">
            <md-tooltip md-direction="right">Follow us on Facebook</md-tooltip>
            <i class="mdi mdi-facebook md-24"></i>
        </md-button>
</div>


<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script src="/build/app.js"></script>
</body>
</html>