<md-toolbar >
    <div class="md-toolbar-tools">
        <div>
            <a href="{{ siteUrl }}">
                <img class="logo" src="/media/img/logo_CryptoCoinLab.png" width="50%">
            </a>
        </div>

        <div class="sitename">
            <strong>{{ siteName }}</strong>
        </div>

        <span flex></span>

        <md-button aria-label="Settings" ng-click="toggleLeft()">
            <i class="mdi mdi-menu md-36"></i>
        </md-button>
    </div>
</md-toolbar>
