<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<html >
<head>
    <base href="/">
    <link rel="stylesheet" type="text/css" href="build/global.css">
</head>
<body ng-app="myApp" ng-controller="MainController" ng-cloak layout="column">

