
{% include 'header.html.twig' %}
{% include 'head_bar.html.twig' %}

<div layout="row" flex>

    <div>
            {% include 'left_menu.html.twig' %}

    </div>

        <md-content ui-view layout="column" flex layout-padding>
            {% verbatim %}
                        <div ng-view  layout="vertical" layout-fill>

                        </div>
            {% endverbatim %}
        </md-content>
    </div>
</div>



{% include 'footer.html.twig' %}

