
        <md-sidenav layout="column" class="nav md-sidenav-left md-whiteframe-z2"
                    md-component-id="left"
                    md-disable-backdrop
                    md-is-locked-open="$mdMedia('gt-md')"
                    md-whiteframe="4"
                    layout-padding
                    md-selected-nav-item="currentNavItem"
                    >

            <div layout="row">

                <div ng-show="user.loggedIn" flex="nogrow" >
                    <md-button ng-click="logout()" class="md-primary">
                        <md-tooltip md-direction="right">Logout</md-tooltip>
                        <i class="mdi mdi-logout md-24"></i>
                    </md-button>

                    <md-button ng-href="/user" class="md-primary"  ng-click="toggleLeft()">
                        <md-tooltip md-direction="right">Settings</md-tooltip>
                        <i class="mdi mdi-settings  md-24"></i>
                    </md-button>
                </div>

                <md-button ng-click="toggleLeft()" class="md-fab md-mini md-primary" hide-gt-md>
                    <md-icon style="color: greenyellow;">
                        <i class="mdi mdi-chevron-left md-24"></i>
                    </md-icon>
                </md-button>
            </div>

            <div ng-hide="user.loggedIn" layout="column">
                <div ng-include="'login.html'"></div>
            </div>

            <md-menu-content width="4" ng-show="user.loggedIn">
                <md-menu-item >
                    <a href="/"  ng-click="toggleLeft()">
                        <i class="mdi mdi-home" ui-sref-active="active"></i>
                        Main
                    </a>
                </md-menu-item>

                <md-menu-item >
                    <a href="/deposit" ng-click="toggleLeft()">
                        <i class="mdi mdi-download"></i>
                        Deposit </a>
                </md-menu-item>

                <md-menu-item >
                    <a href="/buybitcoins" ng-click="toggleLeft()">
                        <i class="mdi mdi-rotate-3d"></i>
                        Buy Bitcoin </a>
                </md-menu-item>

                <md-menu-item >
                    <a href="/sendbitcoins" ng-click="toggleLeft()">
                        <i class="mdi mdi-send"></i>
                        Send bitcoins </a>
                </md-menu-item>

                <md-menu-item >
                    <a href="/bitcoin/getWalletInformation" ng-click="toggleLeft()">
                        <i class="mdi mdi-information-outline"></i>
                        BTC Wallet information </a>
                </md-menu-item>

            </md-menu-content>

    </md-sidenav>
            {#<div class="left_menu-sidebar">#}
                {##}
            {#</div>#}
                <!-- END MENU -->
