Someone has requested a password reset for your account.
If this was not you self, you can ignore this email.

Otherwise click this link to set a new password for your account:

{{ passwordResetLink }}

Thank you for using CryptoCoinLab