//@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import '~bootstrap/dist/css/bootstrap.css';
@import '~angular-material/angular-material.scss';
@import 'materialdesign/materialdesignicons.min.css';


a {
  color: #337ab7;
  text-decoration: none;
  text-decoration-color: currentcolor;
  text-decoration-line: none;
  text-decoration-style: solid;
}

._md flex-25 {
  width: 225px;
}

.mdi {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  //font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* Rules for sizing the icon. */
.mdi.md-18 { font-size: 18px; }
.mdi.md-24 { font-size: 24px; }
.mdi.md-36 { font-size: 36px; }
.mdi.md-48 { font-size: 48px; }

.nav {
 > a:active {
    color: blue;
  }
  }

a:active {
  background: blue;
}

.bottomSheet{
  @extend .md-default-theme;
  max-height: 50px;

}


