<div ng-controller="UserActivateController">
    <h1>Activating your account...</h1>
    <div class="alert alert-success" ng-show="status == 'success'">
        Thank you. We have successful activated your account.
        <br>
        You can now use your new account.
    </div>

    <div class="alert alert-danger" ng-show = "status == 'failed'">
        <strong>Error! </strong> We can't activate your account. Something went wrong.
    </div>
</div>