
    <div flex-xs flex-gt-xs="25" layout="column" ng-controller="UserController">
            <md-card flex="25">
                <h2>BitCoin hold:</h2>
                <div ng-bind="walletInformation.bitcoins">--</div>
                <md-button class="md-raised" ng-click="getBtcBalance()">Refresh BTC Wallet</md-button>
            </md-card>

            <md-card flex="25">
                <h2>Current Bitcoin curse</h2>
                <h3>{{currentCryptoPrice}}</h3>
                <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                    <md-button class="md-raised" ng-click="refreshCurrencyCurse()">Refresh BTC curse</md-button>
                </section>
            </md-card>

    </div>
