<div ng-controller="buybitcoinsController">
    <md-progress-linear ng-show="loadStatus.isLoading" md-mode="indeterminate">Getting Bitcoin Price</md-progress-linear>
    <h1>Buy Bitcoins with deposit</h1>
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Price and deposit informations</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            Price: <b>{{currencyInfo.currentBitcoinPrice}} EUR</b>
            <br>
            Deposit: <b>{{walletInfo.currentDeposit}} EUR</b>
            <br>
            Possible to buy: {{(walletInfo.currentDeposit/currencyInfo.currentBitcoinPrice)| number:8}}
            <br>
            Wallet Address: {{walletInfo.btcWalletAddress}}
        </md-card-content>
    </md-card>


    <form>
        <div class="form-group col-lg-12">
            <md-input-container>
                <label>Amount</label>
                <input class="form-control" type="text" ng-model="data.amountsbuy" max="{{(currentDeposit/currencyInfo.currentBitcoinPrice)| number:8}}">
            </md-input-container>
            <br>
        <md-button class="md-raised md-warn" ng-click="buyBitcoins()">Buy for a fee</md-button>
        </div>
    </form>

    <div class="alert alert-info" ng-hide="status == ''">
        {{buyResponse}}
    </div>
    <div class="alert alert-info" ng-hide="status == ''">
        {{status}}
    </div>
</div>