<div ng-controller="depositController" class="md-padding" >

    <div layout="row" layout-xs="column">

        <form stripe-form="stripeCallback" flex="grow">
            <h1>Deposit</h1>
            <md-radio-group ng-model="paymentmethod">

                <md-radio-button value="card" class="md-primary">CreditCard</md-radio-button>
                <md-radio-button value="sofort"> SOFORT &Uuml;berweisung </md-radio-button>

            </md-radio-group>
            <div class="form-group col-lg-12">

                <div ng-show="paymentmethod == 'card'">
                    <md-input-container >
                    <input class="form-control" ng-model="number" placeholder="Card Number" payments-format="card" />
                    </md-input-container>

                    <md-input-container >
                        <input class="form-control"  ng-model="expiry" placeholder="Expiration" payments-format="expiry" />
                    </md-input-container>
                    <md-input-container >
                        <input class="form-control"  ng-model="cvc" placeholder="CVC" />
                    </md-input-container>
                </div>

                <md-input-container  class="md-block">
                    <input class="form-control" ng-model="data.datadescription" placeholder="Description" />
                </md-input-container>
                <md-input-container >
                    <input class="form-control" ng-model="data.dataamount"  placeholder="Amount" ng-change="amountChanged()" >
                </md-input-container>
            </div>
            <md-button  class="md-raised md-warn" type="submit" ng-show="paymentmethod == 'card'">Charge Deposit</md-button>


            <md-button class="md-raised md-warn" ng-click="sofortPayment()" ng-show="paymentmethod == 'sofort'">Charge Deposit</md-button>
        </form>

        <md-card  flex="grow" layout-align="start start" class="md-padding">
            <h2>Deposit summary</h2>
            <md-card-content >
                    <strong>Amount: </strong> {{data.dataamount}}
                    <div ng-show="paymentmethod == 'card'">
                        <br>
                        <strong>CC Number: </strong> {{number}}
                    </div>
                    <br>
                    <strong>Desription: </strong> {{data.datadescription}}
                    <br>
                    <div class="alert alert-info" ng-hide="status == ''">
                        {{status}}
                        <br>
                        {{chargeResponse.outcome.seller_message}}
                    </div>
            </md-card-content>
        </md-card>


    </div>
</div>