<div ng-controller="LoginController" flex="nogrow">
    <md-button ng-href="/register" class="md-raised  md-warn">Register</md-button>
    <md-button class="md-primary" ng-click="forgotPassword()">{{pwresetText}}</md-button>

    <div class="alert alert-info" ng-hide="status == ''">
        {{status}}
    </div>
    <form ng-hide="pwreset" >
            <div layout="column">

                <md-input-container flex="nogrow">
                        <md-icon >
                            <md-tooltip md-direction="right">Login</md-tooltip>
                            <a href="#" ng-click="login()" tabindex="3" class="mdi mdi-login md-24"></a>
                            <!--<span ng-click="login()" class="material-icons md-24">exit_to_app</span>-->
                        </md-icon>
                        <label>E-Mail</label>
                        <input  ng-model="data.useremail" type="email" tabindex="1">
                </md-input-container>
                <md-input-container flex>
                        <md-icon >
                            <md-tooltip md-direction="right">Show password</md-tooltip>
                            <a href="#" ng-click="hideShowPassword()" class="mdi mdi-eye md-24"></a>
                        </md-icon>
                        <label>Password</label>
                        <input  ng-model="data.userpassword" tabindex="2" type="{{inputType}}" ng-keyup="$event.keyCode == 13 ? login() : null">

                        <div  class="hint alert alert-danger" ng-show="isCapsLockOn">Caps lock is on</div>
                </md-input-container>

            </div>
    </form>

<div ng-show="pwreset">
    <form class="form-group">
        <md-input>

            <md-input-container>
                <label>E-Mail address</label>
                <input  class="form-control" ng-model="resetData.useremail" type="email">
            </md-input-container>

        </md-input>
        <br>
        <button  type="button" class="btn btn-primary" ng-click="orderPwResetLink()">Reset Password</button>
    </form>
</div>
</div>