<div class="md-padding" >
    <div layout="row" layout-xs="column">

    <md-card flex="grow">
        <a href="media/img/CryptoCoinLab_640x200.png">
            <img src="media/img/CryptoCoinLab_640x200.png" alt="CryptoCoinLab" style="width:100%">

        </a>
    </md-card>

    <md-card flex="grow">
        <h2>Current Bitcoin curse</h2>
        <h3>{{currentCryptoPrice}}</h3>
        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
            <md-button class="md-raised" ng-click="refreshCurrencyCurse()">Refresh BTC curse</md-button>
        </section>
    </md-card>

    <md-card flex="grow">
        <h2>Convert bitcoin currency</h2>
        <form>
            <div class="form-group">

                <md-input-container >
                    <label>Amount Bitcoin</label>
                    <input class="form-control" ng-model="fromCurrency">
                </md-input-container>

                <md-input-container>
                    <label>Bitcoin curse</label>
                    <input class="form-control" ng-model="toCurrency" >
                </md-input-container>

                <md-input-container>
                    <label>Result</label>
                    <input class="form-control" value="{{fromCurrency*toCurrency}}">
                </md-input-container>
                <br>
                <md-button class="md-raised" ng-click="refreshCurrencyCurse()">Refresh BTC curse</md-button>
            </div>
        </form>
    </md-card>

    <!--<md-card>-->
            <!--&lt;!&ndash;<iframe src="https://live.blockcypher.com/widget/btc/1KpH77P9z4Agfpg5L2M2ANqBWsoLeewCAb/balance/"  frameborder="0"></iframe>&ndash;&gt;-->
    <!--</md-card>-->

    <!--<md-card>-->
        <!--&lt;!&ndash;<iframe src="https://live.blockcypher.com/widget/btc/1D6a8pA8BWiNGwR62xdCttLcJz745wxHij/balance/" style="overflow:hidden;" frameborder="0"></iframe>&ndash;&gt;-->
    <!--</md-card>-->
    </div>
</div>
