<div ng-controller="PwresetController">
    <h1>Password reset</h1>
    <div class="alert alert-info">
        {{status}}
    </div>
    <form>
        <div class="form-group">

            <md-input>
                <md-input-container  >
                    <label>New password</label>
                    <input class="form-control" ng-model="data.password" type="password">

                </md-input-container>
                <br>
                <md-input-container>
                    <label>Retype new password</label>
                    <input class="form-control" ng-model="passwordCompare" type="password">
                </md-input-container>
            </md-input>

            <button type="button" class="btn btn-primary" ng-click="setNewPassword()">Change Password</button>
        </div>

    </form>

</div>