<div ng-controller="RegisterController">
    <form>
        <div class="form-group">
            <md-input-container >
                <label>Username</label>
                <input class="form-control" ng-model="newUser.username" type="text">

            </md-input-container>
            <br>
            <md-input-container>
                <label>E-Mail</label>
                <input class="form-control" ng-model="newUser.useremail" type="email">
            </md-input-container>
                <br>
            <md-input-container  class="md-icon-float">
                    <label>Password</label>
                    <input class="form-control" ng-model="newUser.userpassword" type="{{inputType}}">
                    <md-icon >
                        <span ng-click="hideShowPassword()" class="glyphicon glyphicon-eye-open"></span>
                    </md-icon>
                    <p class="alert alert-danger" ng-show="isCapsLockOn">Caps lock is on</p>
            </md-input-container>

            <button type="button" class="btn btn-primary" ng-click="register()">Register</button>
            <button type="button" class="btn btn-primary" ng-click="isUsernameAvailable()">Check</button>
        </div>

    </form>
</div>