<div ng-controller="SendbitcoinsController">
    <h1>Send Bitcoin to extern Bitcoin Address</h1>
    <md-card>
        <md-card-content>
            <form>
                <div class="form-group">
                    <md-input-container class="md-block">
                        <label>Receiver BTC Address</label>
                        <input class="form-control" type="text" ng-model="data.receiveraddress">
                    </md-input-container>
                    <md-input-container  class="md-block">
                        <label>Receiver Note</label>
                        <input class="form-control" type="text" ng-model="data.receivernote">
                    </md-input-container>
                    <md-input-container>
                        <label>Amount to send 0.00</label>
                        <input class="form-control" type="text" ng-model="data.amountsend">
                    </md-input-container>
                    <br>
                    <div class="alert alert-info" ng-hide="status == ''">
                        {{status}}
                    </div>
                    <button class="btn btn-info" ng-click="sendCoins()">Send</button>
                </div>
            </form>
        </md-card-content>
    </md-card>


</div>