
<div flex-xs flex-gt-xs="noshrink" layout="column" ng-controller="WalletInfoController">
    <md-card flex="noshrink" layout-padding>

        <h2>BitCoin</h2>
        <md-card-content layout="column" layout-align="space-between">
            <div>Bitcoin Address: {{walletInfo.btcWalletAddress}}</div>
            <div>Bitcoin hold: {{walletInfo.BtcBalance}} ({{(walletInfo.BtcBalance * currentCryptoPrice)| number:2}} EUR) </div>
        </md-card-content>
        <md-card-actions layout-align="end center">
            <md-button class="md-raised" ng-click="getBtcBalance()">Refresh BTC Wallet</md-button>
        </md-card-actions>
    </md-card>

    <md-card flex="noshrink" layout-padding>
        <h2>Deposit</h2>
        <div>{{walletInfo.currentDeposit}} EUR</div>
    </md-card>

    <md-card flex="noshrink" layout-padding>
        <h2>Current Bitcoin curse</h2>
        <h3>{{currentCryptoPrice}}</h3>
        <md-card-actions layout-align="end center">
            <md-button class="md-raised" ng-click="refreshCurrencyCurse()">Refresh BTC curse</md-button>
        </md-card-actions>
    </md-card>

</div>
